<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jsonXxxx.jyTest.mapper.UserMapper">
	<resultMap type="cn.jsonXxxx.jyTest.entity.User" id="baseMap">
		<id column="user_id" property="userId"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="salt" property="salt"/>
		<result column="email" property="email"/>
		<result column="mobile" property="mobile"/>
		<result column="status" property="status"/>
		<result column="ucreate_time" property="createTime"/>
		<collection property="roles" ofType="cn.jsonXxxx.jyTest.entity.Role">
			<id column="role_id" property="roleId"/>
			<result column="role_name" property="roleName"/>
			<result column="remark" property="remark"/>
			<result column="dept_id" property="deptId"/>
			<result column="rcreate_time" property="createTime"/>
			<collection property="menus" ofType="cn.jsonXxxx.jyTest.entity.Menu">
				<id column="menu_id" property="menuId"/>
				<result column="parent_id" property="parentId"/>
				<result column="title" property="title"/>
				<result column="href" property="href"/>
				<result column="perms" property="perms"/>
				<result column="type" property="type"/>
				<result column="icon" property="icon"/>
				<result column="order_num" property="orderNum"/>
			</collection>
		</collection>
	</resultMap>
	<select id="getByUsername" resultMap="baseMap" parameterType="java.lang.String">
		select 
			u.user_id,u.username,u.password,u.salt,u.email,u.mobile,u.status,u.create_time ucreate_time,
			r.role_id,r.role_name,r.remark,r.dept_id,r.create_time,
			m.menu_id,m.parent_id,m.title,m.href,m.perms,m.type,m.icon,m.order_num
		 from user u 
		 left join user_role ur on u.user_id=ur.user_id
		 left join role r on ur.role_id=r.role_id
		 left join role_menu rm on r.role_id=rm.role_id
		 left join menu m on rm.menu_id=m.menu_id
		 where u.username=#{username}
	</select>
</mapper>
