<head th:fragment="commonHead(title)">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title th:text="${title}">Title</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">


<script th:src="@{/layui/jquery.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/gt.js}"></script>
<script th:src="@{/js/index.js}"></script>
<script th:src="@{/js/leftNav.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/nav.js}"></script>
<script th:src="@{/js/bodyTab.js}"></script>


<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" />
<link rel="shortcut icon" th:href="@{/face.jpg}" type="image/x-icon" />
<link rel="stylesheet" th:href="@{/css/font.css}">
<link rel="stylesheet"  th:href="@{/css/weadmin.css}">
<link rel="stylesheet"  th:href="@{/css/main.css}">
<link rel="stylesheet"  th:href="@{/css/font_eolqem241z66flxr.css}">
<link rel="stylesheet"  th:href="@{/layui/css/layui.css}">

<script type="text/javascript">
	
</script>


</head>
